body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin:10%;
}
li {
  float: center;
  padding: 8px;
  display: inline;
  list-style-type: none;
  overflow: hidden;
}
.pageTitle{
  margin-left: 50%;
  margin-right: 50%;
}

.sectionTitle{
  margin:5%;
}
.predictForm {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  flex-wrap: wrap;

}

a{
  color: rgba(255,255,255,.5) !important;
}